/* About.css */

.about-container {
    
    background-color: #45B1E8 ;
    text-align: center;
    font-family: "Poppins";
}

.about-main {
    padding: 50px 20px;
}

.about-section {
    max-width: 800px;
    margin: 0 auto;
}

.about-section h2 {
    
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.about-section p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 15px;
}

.about-section ul {
    text-align: left;
    margin-bottom: 30px;
}

.about-section ul li {
    font-size: 1rem;
    margin-bottom: 10px;
}

.about-section ul li:last-child {
    margin-bottom: 0;
}
